<form style="color: white;">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese la Unidad</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Ingrese ID de Unidad</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <select  class="form-select" aria-label="Default select example">
      <option selected>Estado</option>
      <option value="1">Disponible</option>
      <option value="2">No Disponible </option>
    </select>
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Esta Seguro? Si es asi entonces marque</label>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>