
<section>
    <img src="./assets/img/NoticiaFoto.jpg" class="background-login" alt="Fondo">
    <section class="form-box"> <!--login-->
        <div >
          
            <img class="imglogin" src="./assets/img/Logo Bomberos .png" alt="">
            <form action="ingresar" class="form-container">
             <h2>Registrarse</h2>
                <div class="input-form">

                    <label for="text">Nombre</label>
                    <input type="text"placeholder="Nombre Completo">

                    <label for="mail">Email</label>
                    <input  type="email" placeholder="Email" >

                    <label for="number">D.N.I</label>
                    <input type="number"placeholder="D.N.I sin puntos">

                    <label for="text">Rango</label>
                    <input type="text"placeholder="Rango">

                    <label for="password">Contraseña</label>
                    <input type="password"placeholder="Password">


                
                    <input type="submit">

                </div>
            </form>
        </div>
</section>
</section>
