<p>footer works!</p>
<div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="footer-distributed">

            <div class="footer-left">
      
              <h3>BOMBEROS<span> LA FALDA</span></h3>
      
              <p class="footer-links">
                <a href="#index"> HOME </a>
                  
                <a href="./src/profile.html"> HISTORIAL </a>
                
                <a href="./src/login.html"> LOGIN </a>
                
                <a href="./src/logs.html"> REGISTRO </a>

                <a href="./src/register.html">REGISTRARSE</a>

                <a href="./src/inventario.html">INVENTARIO</a>

              </p>

            </div>

        </div>
      </div>
      <div class="col">
        <div class="footer-center">
          <div>
            <i class="fa fa-map-marker"></i>
            <p><span>La Falda</span> Córdoba, Argentina</p>
          </div>
          <div>
            <i class="fa fa-phone"></i>
            <p>3548 42-2631</p>
          </div>
        </div>
      </div>
      <div class="col">  
        <div class="footer-right">
          <p class="footer-company-name">PRoA La Falda © 2023</p>
        
          <p><a href="mailto:support@company.com">lafalda.ds@escuelasproa.edu.ar</a></p>
          <br>

          <p class="footer-company-about">
            <span>Redes Sociales Bomberos La Falda</span>
          </p>
          <div class="footer-icons">
            <a href="https://www.facebook.com/bomberosvoluntarios.lafalda" target="_blank">
              
              <img src="./src/img/Facebook_f_logo_(2019).png"
              width="30"
              height="30">
              
              <i class="fa fa-facebook"></i></a>
          
            <a href="https://www.instagram.com/bomberos_lafalda" target="_blank">

              <img src="./src/img/instagram-png.png"
              width="30"
              height="30">

              <i class="fa fa-instagram"></i></a>
          </div>
        </div>
        
      </div>
    
    </div> 
</div>