<div class="container-fluid">
</div>
<div class="row">
  <div class="col">
    <div class="container ">
      <div class="image">
        <br>
        <img src="./assets/img/loginback.png" alt="Imagen">
        <br>
        <br>
      
      </div>
    </div>
  </div>  
  <div class="col">
      <br>
      <div class="text">
        <br>
        <br>
        <br>
        <br>
        <br>
        <p>¡Bienvenidos a la página web de los Bomberos Voluntarios de La Falda! Estamos aquí <br> para proteger y servir a nuestra comunidad las 24 horas del día. Contamos con un equipo <br> capacitado y equipamiento de vanguardia. Nuestra misión es brindar <br> servicios de emergencia y promover la prevención. </p>
        <br>
      </div>
  </div>
</div>