@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);
/*---------------------------------Index-------------------------------------*/
body {
  margin: 0;
  padding: 0;
  background-color: #191919;
}

.body2 {
	margin: 0;
	padding: 0;
	background-color: #ffffff;
  }

header {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(161, 1, 1);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.divindex{
    height: 500px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divimg {
    max-width: 100%;
    max-height: 300px;
    margin-bottom: 20px;
    align-items: center;
}
.divp {
    font-size: 18px;
    font-family: sans-serif
}

nav {
  margin-top: 5px;
  padding: 24px;
  text-align: center;
  font-family :Arial, Helvetica, sans-serif;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}
#nav-3 {
  background: #000000;
}

.navlogin {
	background-color: rgb(0, 13, 23);
	margin: 10%;

}

.link-3 {
  transition: 0.4s;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 0 10px;
  margin: 0 10px;
}

.buttonpage {
	background-color: #e5ff00;
  	color: #000000;
  	padding: 24px 10px;
	font-size: 20px;
	text-decoration: none;
	margin: 0 10px;
  }

.link-3:hover {
	transition: 0,4s;
	background-color: #e5ff00;
	color: #000000;
	padding: 24px 10px;
  }