<!---- NAV---->
<div class="container-fluid">  
    <div class="row">
      <div class="col">
        <nav id="nav-3">
          <a class="link-3" routerLink='./home'>Home</a>
          <a class="link-3" routerLink='./login'>Login</a>
          <a class="link-3" routerLink='./logs'>Registros</a>
          <a class="link-3" routerLink='./profile'>Historial</a>
          <a class="link-3" routerLink='./register'>Registrarse</a>
          <a class="link-3" routerLink='./inventario'>Inventario</a>
          <a class="link-3" routerLink='./tutorial'>Tutorial</a>
        </nav>
      </div>
    
  </div>
</div>