<div class="offcanvas offcanvas-start show" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasLabel">Bomberos La Falda</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      En esta pagina web se encontrara un video el cual explicara como utilizar la aplicacion web de los Bomberos Voluntarios de La Falda, Esta aplicacion web tendra su propio tutorial para aprender a usarla.
    </div>
  </div>

  