
<div class="container-fluid">
    <img src="./assets/img/RegisterBack.jpg" class="background-login" alt="Fondo">
    <section class="form-box"> <!--login-->
      <div class="row">
        <div class="col">     
            <img class="imglogin" src="./assets/img/Logo Bomberos .png" alt="">
                <form action="ingresar" class="form-container">
                 <h2>Ingresar</h2>
                    <div class="input-form">
                        <label for="mail">Email</label>
                        <input  type="email" placeholder="Email" >

                        <label for="password">Contraseña</label>
                        <input type="password"placeholder="Password">
                    
                        <input type="submit">
    
                      
                        <a href="" class="register-button">Olvide mi contraseña</a> <br> <!--hacer animacion que extienda inputs necesarios para recuperar contraseña-->
                        <br>
                        <a routerLink='./register.html' class="register-button">Registrarse</a> <!--hacer animacion que extienda inputs necesarios para crear cuenta-->
                    </div>
                </form>
        </div>
      </div>
    </section>
  </div>